.NewNote{
  position: relative;
  top: 80px;
  text-align: left;
  left: 60px;
  margin: 0 auto;
    justify-content: space-around;
    display: flex;
    vertical-align: middle;

  }

  .big{
    height: 200px;
    width: auto;
  }