.logs-page{
    position: relative;
    top: 45px;
    color: #4B4B4B;
    text-align: left;
  }

  .logs-page h1{
    display: inline;
    position: relative;
  }
  .logs-page h1 img{
    height: 50px;
    width: auto;
    margin: 10px;
    position: relative;
    bottom: 13px;
    left: 5px;
  }

  .logs-container{
    padding-top: 45px;/* to make the header a bit lower */
    padding-right: 30px;
    padding-left: 30px;
  }

  .btn-container{

  }

  .alert{
    width: 30%;
    float: left;
  }

  .upload-btn{
    background: none;
    /*background-color: #89c9e1;*/
    border: none;
    border: 1px solid rgb(52, 136, 226);
    /*border: none;*/
    color: white;
    background-color: #4594E9;
    /*border-radius: 5px;*/
    padding: 7px 15px 7px 15px;
    float: right;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  
  }
  
  .upload-btn img{
    height: 16px;
    width: auto;
    position: relative;
    bottom: 2px;
    margin-right: 3px;
  }

  .upload-btn-submitting{
    background: none;
    /*background-color: #89c9e1;*/
    border: none;
    border: 1px solid rgb(132, 174, 218);
    /*border: none;*/
    color: white;
    background-color:rgb(132, 174, 218);
    /*border-radius: 5px;*/
    padding: 7px 15px 7px 15px;
    float: right;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  }

  .upload-btn-submitting .spinning.glyphicon {
    color: white;
        margin-right: 7px;
      top: 2px;
      animation: spin 1s infinite linear;
    }
    @keyframes spin {
      from { transform: scale(1) rotate(0deg); }
      to { transform: scale(1) rotate(360deg); }
    }
  
  .sort-btn{
    float: left;
      padding: 7px 15px 7px 15px;
      background: none;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      margin-bottom: 15px;
      
    }
  
    .sort-btn img{
      position: relative;
      bottom: 2px;
    }
    
    .select-date-btn{
      float: left;
      padding: 7px 15px 7px 15px;
      margin-right: 10px;
      background: none;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    }
  
    .select-date-btn img{
      height: 16px;
      width: auto;
      position: relative;
      bottom: 2px;
    }