.test{

}

.ReactTable * {
    border: none !important;
  }

.ReactTable{
    

    text-align: left;
    border-collapse: collapse;
    color: #7C7C7C;
    width: 100%; /* this and the style below make it so the table is as big as it's elements*/
    table-layout: fixed;
    font-size: 10pt;
    position: relative;
    cursor: pointer;

    border: none;
    box-shadow: none;
    padding-top: 15px;


    
}


/*.react-row{
    
    vertical-align: top;
    padding-top: 15px;
    padding-bottom: 15px;
}*/

.ReactTable .rt-tr .rt-td {
    vertical-align: top;
    padding-top: 15px;
    padding-bottom: 15px;
    
    border: none;
    border-bottom: 1px solid #ddd !important;
    border-top: none;
    border-collapse: collapse;

    background: white;

    /*padding-left: 30px;
    padding-right: 30px;*/




}

.ReactTable .rt-tr:hover .rt-td {
    background-color: #ddd;
}


.ReactTable .rt-thead .rt-th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: #4B4B4B;

    
    border: none;
    border-bottom: 1px solid #ddd !important;
    border-collapse: collapse;
    box-shadow: none;
    text-shadow: none;

    font-weight: bold;

    background: none;
    border-color: #ddd;

    /*padding-left: 30px;
    padding-right: 30px;*/

    border:none;



}



