/* Dropdown Button */
.dropbtn {
    background:none;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,.3);
    transition: background-color 200ms ease;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    visibility: hidden;
    opacity: 0;
    transition: opacity 200ms ease;
    position: absolute;
    background-color: rgba(0,0,0,.9);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0px;
    border: solid #2F2E2D;
    border-width: 0.5px;
    z-index: 5;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
      text-decoration: underline;
    }

    /* Links inside the dropdown */
  .dropdown-content button {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: left;
    border: none;
    background: none;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content button:hover {
      text-decoration: underline;
    }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    visibility: visible;
    opacity: 1;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: rgba(255,255,255,.2);
    }

    .dropbtn img{
      height: 26px;
      width: 26px;
      position: relative;
      bottom: 1px;
  }