/* Lander page */
  .lander {
    padding: 50px 0;
    text-align: center;
    color: white;
  }
  
  .lander .welcome h1 {
    font-size: 30pt;
  }

  .lander .welcome p {
    font-size: 15pt;
    font-weight: 300;
  }

  .lander .welcome ul{
    list-style: none;
    position: relative;
    left: 35px;
    text-align: left;
  }

  .lander .welcome li{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 300;
    /*text-shadow: none;*/
  }

  .lander .welcome img{
    height: 30px;
    width: auto;
    position: relative;
    margin-right: 10px;
    bottom: 1px;
  }

  .lander .welcome{
    z-index: 3;
    /*text-shadow: 0 1px 0 black;*/
    position: relative;
    top: 20px;
  }

  .lander .row1{
    position: relative;
    top: 85px;
  }

  /* medium to large screens */
  @media (min-width: 768px) and (max-width: 1199px){
    .lander .welcome ul{
      left: 0px;
    }
  }

  /* small screens and lower */
  @media (max-width: 767px){
    .lander .welcome li{
      font-size: 16px;
      margin-top: 5px;
    }
  
    .lander .welcome img{
      height: 20px;
      width: auto;
    }
  
    .lander .welcome ul{
      left: -35px;
    }
    .lander .row1{
      top: 15px;
    }
    .lander .welcome{
      top: 0px;
    }
  }

  /* smart phones only */
  @media only screen and (min-device-width : 320px) and (max-device-width : 480px){

    .lander{
      padding: 20px;
    }

    .lander .row1{
      top: 55px;
    }

    .lander .welcome ul{
      display: none;
    }

    .lander .welcome{
      font-size: 10px;
    }

    .lander .welcome h1 {
      font-weight: 600;
      font-size: 25pt;
    }
  
    .lander .welcome p {
      font-size: 14pt;
    }
  }

  /* transitioning images*/
  .lander #crossfade > img { 
    height: 100%;
    width: 100%;
    position: absolute;
    top:0px;/*top: 65px; shift the images right below the navbar*/
    left: 0px;
    bottom: 0px;
    right: 0px;
    background-repeat: no-repeat;
    overflow: hidden;
    background-size: cover;
    color: transparent;
    background-size:100% 100%;
    position: fixed;
    margin: 0;
    opacity: 0;
    z-index: -1;
    -webkit-backface-visibility: hidden;
    -webkit-animation: imageAnimation 30s linear infinite 0s;
    -moz-animation: imageAnimation 30s linear infinite 0s;
    -o-animation: imageAnimation 30s linear infinite 0s;
    -ms-animation: imageAnimation 30s linear infinite 0s;
    animation: imageAnimation 30s linear infinite 0s; 
    
}

.lander #crossfade > img:nth-child(2)  { 
  -webkit-animation-delay: 6s;
  -moz-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s; 
  
}
.lander #crossfade > img:nth-child(3) { 
  -webkit-animation-delay: 12s;
  -moz-animation-delay: 12s;
  -o-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s; 
}

.lander #crossfade > img:nth-child(4) { 
  -webkit-animation-delay: 18s;
  -moz-animation-delay: 18s;
  -o-animation-delay: 18s;
  -ms-animation-delay: 18s;
  animation-delay: 18s; 
}
.lander #crossfade > img:nth-child(5) { 
  -webkit-animation-delay: 24s;
  -moz-animation-delay: 24s;
  -o-animation-delay: 24s;
  -ms-animation-delay: 24s;
  animation-delay: 24s; 
}

@-webkit-keyframes imageAnimation { 
  0% { opacity: 0;
  -webkit-animation-timing-function: ease-in; }
  8% { opacity: 1;
       -webkit-animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}

@-moz-keyframes imageAnimation { 
  0% { opacity: 0;
  -moz-animation-timing-function: ease-in; }
  8% { opacity: 1;
       -moz-animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}

@-o-keyframes imageAnimation { 
  0% { opacity: 0;
  -o-animation-timing-function: ease-in; }
  8% { opacity: 1;
       -o-animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}

@-ms-keyframes imageAnimation { 
  0% { opacity: 0;
  -ms-animation-timing-function: ease-in; }
  8% { opacity: 1;
       -ms-animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}

@keyframes imageAnimation { 
  0% { opacity: 0;
  animation-timing-function: ease-in; }
  8% { opacity: 1;
       animation-timing-function: ease-out; }
  17% { opacity: 1 }
  25% { opacity: 0 }
  100% { opacity: 0 }
}