.LoaderButton .spinning.glyphicon {
    margin-right: 7px;
    top: 2px;
    animation: spin 1s infinite linear;
  }
  @keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
  }

  
  .Login .LoaderButton {
    background-color: #292c32;
    color: white;
    border-radius: 0px;
    border: none;
    height: 60px;
    font-size: 13pt;
  }

  .Signup .LoaderButton{
    border-radius: 0px;
    border: none;
    height: 60px;
    font-size: 13pt;
    letter-spacing: .1rem;
  }