.submit-bar-container{

  color: #4B4B4B;

    position: absolute;
    width: 480px;
    
    border-radius: 6px;

    text-align: center;

    
    padding-top: 12px;
    padding-bottom: 12px;

    left: 50%;
    margin-left: -240px;
    

}


.submit-bar-container .spinning.glyphicon {
  color: #4B4B4B;
      margin-right: 7px;
    top: 2px;
    animation: spin 1s infinite linear;
  }
  @keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
  }