

.popup-container{
    position: absolute;
    width: 480px;
    
    border-radius: 6px;

    text-align: center;

    
    padding-top: 12px;
    padding-bottom: 12px;

    left: 50%;
    margin-left: -240px;

}

.popup-container.red{
background-color: #FADBE0;
color: red;
border: 1px solid red;
}

.popup-container.green{
background-color: #D9f8cc;
color: green;
border: 1px solid green;
}

.close-btn{
  font-family: 'Montserrat', sans-serif;
  color: #5f6572;
  position: absolute;
top: 0;
bottom: 0;
border: none;
  font-size: 14pt;
  float: right;
  cursor: pointer;
  font-family: 'Syncopate', sans-serif;
  background: none;
}