

.popup-container{
    position: fixed;
    width: 480px;
    
    border-radius: 6px;

    text-align: center;

    
    padding-top: 12px;
    padding-bottom: 12px;

    left: 50%;
    margin-left: -240px;

    animation: fade 0.8s linear;
    animation-delay: 2s;
    z-index: 3000;
}

@keyframes fade {
    from {opacity :1;}
    to {opacity :0;}
  }

.popup-container.red{
background-color: #FADBE0;
color: red;
border: 1px solid red;
}

.popup-container.green{
background-color: #D9f8cc;
color: green;
border: 1px solid green;
}