

.App .navbar-brand {
  color: white;
}

.App .navbar{
  padding: 0;
  font-family: "Open Sans", sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 0px;
  border-style: none;

  background-color: black;
  height: 70px;
  background-color: rgba(33, 36, 39, 0);
  position: fixed;
  z-index:4;
  transition: background-color 500ms ease;
  
}

.homelink{
    position: relative;
    top: 10px;
    left: 20px;
    height: 70px;
    font-size: 20pt;
    color: white;
}

.homelink img {
  height: 50px;
  width: 50px;
  position: relative;
  left: 9px;
  bottom: 18px;
  float: right;
}
