.login-btn{
  background: none;
  border: none;
  font-weight: bold;
  opacity: 0.6;
  letter-spacing: .1rem;
}

.login-btn:hover{
  opacity: 1;
}

.modal-content {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; 
  border: none;
  width: 400px;
}

.modal{
  width: 400px;
  margin: 0 auto
}

.form-control{
  border-radius: 0px !important;
  background-color: #f5f6f7;
  border: none;
  box-shadow: none;
}

.control-label{
  font-size: 10pt;
  margin-top: 10px;
}


.close-btn{
  font-family: 'Montserrat', sans-serif;
  color: #5f6572;
  position: relative;
  bottom:5px;
  right: 4px;
  font-size: 17pt;
  float: right;
  cursor: pointer;
  font-family: 'Syncopate', sans-serif;
}

.modal-header button {
  color: #6D778E;
  position: relative;
  right: 20px;
  top: 10px;
font-size: 35pt;
font-weight: lighter;
opacity: 1;

}

.modal-header{
border: none;
margin: 0px;
padding: 0px;
  }

  .sidebar-content{
    position: relative;
    right: 20px;
  }
  .sidebar-content ul{
    list-style: none;
  }


  .sidebar-content ul li:hover{
    opacity: 0.5;
  }

  .sidebar-content li{
    margin-top: 30px;
    margin-bottom: 20px;
  }

  .sidebar-content li img{
    width: 15px;
    margin-right: 10px;
    position: relative;
    bottom: 1px;
    height: auto;
  }